In [2]:
%load_ext sql

In [9]:
%sql sqlite:///contatos.db

In [10]:
%%sql

CREATE TABLE CLIENTE (
    CLIENTE_ID INTEGER PRIMARY KEY,
    NOME TEXT NOT NULL,
    EMAIL TEXT NOT NULL UNIQUE,
    TELEFONE TEXT NOT NULL UNIQUE
);

 * sqlite:///contatos.db
(sqlite3.OperationalError) table CLIENTE already exists
[SQL: CREATE TABLE CLIENTE (
    CLIENTE_ID INTEGER PRIMARY KEY,
    NOME TEXT NOT NULL,
    EMAIL TEXT NOT NULL UNIQUE,
    TELEFONE TEXT NOT NULL UNIQUE
);]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [5]:
%%sql

INSERT INTO CLIENTE (NOME, EMAIL, TELEFONE) 
VALUES
    ('Leonardo' , 'leonardo@gmail.com', '9999-9999' ),
    ('Rafael' , 'rafael@gmail.com', '9889-8998' ),
    ('Michelangelo' , 'michelangelo@gmail.com', '9997-7999' ),
    ('Donatello' , 'donatello@gmail.com', '9777-7779' );

 * sqlite:///contatos.db
4 rows affected.

[]

In [6]:
%%sql

SELECT * FROM CLIENTE

 * sqlite:///contatos.db
Done.

[(1, 'Leonardo', 'leonardo@gmail.com', '9999-9999'),
 (2, 'Rafael', 'rafael@gmail.com', '9889-8998'),
 (3, 'Michelangelo', 'michelangelo@gmail.com', '9997-7999'),
 (4, 'Donatello', 'donatello@gmail.com', '9777-7779')]